@model IEnumerable<PBDE401.ViewModel.ThumbnailBoxViewModel>
@using PBDE401.Utility
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout - Index.cshtml";
}



<!-- slid -->
<div class="slid">
    <div class="container">
        <div class="col-md-3 col-sm-3 col-xs-6 slid_grid">
            <div class="slid_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2000' data-delay='.5' data-increment="5">2000</div>
                <p>Drugs</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 slid_grid slid_grid2">
            <div class="slid_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1500' data-delay='.5' data-increment="5">1500</div>
                <p>Our Staff</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 slid_grid slid_grid3">
            <div class="slid_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='0018' data-delay='.5' data-increment="1">0018</div>
                <p>Branches</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 slid_grid slid_grid4">
            <div class="slid_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2800' data-delay='.5' data-increment="10">2800</div>
                <p>Clients</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //slid -->
<!-- banner-bottom -->
<div class="banner-bottom" id="banner-bottom">
    <div class="container">
        <h3 class="w3l-title">What is Medi Plus</h3>
        <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        <div class="bottom-grids">
            <div class="col-md-4 bttm-grids-info">
                <h5>Lorem Ipsum simply random</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="col-md-4 bttm-grids-info">
                <h5>Simply random Lorem Ipsum </h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="col-md-4 bttm-grids-info">
                <h5>Ipsum Lorem simply random</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- Testimonials -->
<div class="testi agileits-w3layouts">
    <div class="container">
        <h3 class="w3l-title">Testimonials</h3>
        <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui cupiditate non provident</p>
        <!-- banner-text Slider starts Here -->
        <script src="~/Template/js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 3
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
        </script>
        <!-- //End-slider-script -->
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <p>" Claritas est etiam processus dynaicus qui sequitur mutationem At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Dynai </h4>
                </li>
                <li>
                    <p>" At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiislaritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Sequit </h4>
                </li>
                <li>
                    <p>" Vlaritas est etiam processus dynaicus qui At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis sequitur mutationem consuetudium lectorum. Mirum est notare quam "</p>
                    <h4>Etiamy </h4>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //Testimonials -->
<!-- Medications -->
<div class="services" id="services">
    <div class="row">
        <h3 class="w3l-title">Our Medication</h3>
        @foreach (var area in Model)
        {
            @Html.Partial("_ThumbnailAreaPartial", area)
        }
    </div>
</div>
<!-- //Medications -->
<!-- services -->
<div class="container">
    <h3 class="w3l-title">Our Services</h3>
    <p class="title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
    <div class="service-agileinfo">
        <div class="col-md-4 col-sm-4 srvc-wthreegrids">
            <div class="srvc-img">
                <i class="fa fa-user-md" aria-hidden="true"></i>
            </div>
            <h5>Ultrices proin</h5>
            <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
        </div>
        <div class="col-md-4 col-sm-4 srvc-wthreegrids">
            <div class="srvc-img">
                <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
            <h5>Proin eget</h5>
            <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
        </div>
        <div class="col-md-4 col-sm-4 srvc-wthreegrids">
            <div class="srvc-img">
                <i class="fa fa-ambulance" aria-hidden="true"></i>
            </div>
            <h5>Eget ipsum</h5>
            <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<!-- //services -->
@*@using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {

        <br />
        <div class="row">
            <div class="pull-right" style="padding-right:15px;">
                <button type="submit" value="Search" class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-search"></span>Search
                </button>
            </div>

            <div class="pull-right">
                @Html.Editor("search", new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>

        </div>

        <br />
    }
    <div class="row">
        @foreach (var area in Model)
        {
            @Html.Partial("_ThumbnailAreaPartial", area)
        }
    </div>*@
